/* Анимация движения волны на заднем плане */
@keyframes second_wave {
    0% {
        transform: translateX(-0%) translateY(0%) translateZ(0);
    }

    50% {
        transform: translateX(-540px) translateY(20%);
    }

    100% {
        transform: translateX(-1180px) translateY(0%) translateZ(0);
    }
}

/* Анимация качания айсберга на волнах */
@keyframes move_iceberg {
    0% {
        transform: translateY(-0px) translateZ(0deg);
    }

    100% {
        transform: translateY(-70px) translateZ(0) rotate(5deg);
    }
}

/* Анимация движения первой волны */
@keyframes first_wave {
    from {
        transform: translateX(-0%);
    }

    to {
        transform: translateX(-1180px);
    }
}

/* Анимация мерцания звезд */
@keyframes twinkl {
    from {
        transform: translateY(-0);
    }

    to {
        transform: translateY(300px);
    }
}

/* Анимация переливания северного сияния */
@keyframes north_light {
    0% {
        transform: rotate3d(1, 1, 0, 0deg) scale(1);

    }

    100% {
        transform: rotate3d(0, 1, 0, 40deg) scale(1.2);

    }
}

/* Анимация движения субмарины */
@keyframes submarine_move {
    0% {
        transform: translateX(0px) rotate3d(0, 1, 0, -0deg) scale(1);
        z-index: 10;
    }

    40% {

        transform: translateX(500px) rotate3d(0, 1, 0, -45deg) scale(0.9);
        z-index: 10;

    }

    50% {

        transform: translateX(500px) rotate3d(0, 1, 0, -180deg) scale(0.8);
        z-index: 9;
    }

    90% {

        transform: translateX(50px) rotate3d(0, 1, 0, -225deg) scale(0.9);
        z-index: 9;


    }

    100% {

        transform: translateX(0px) rotate3d(0, 1, 0, -360deg) scale(1);
        z-index: 9;

    }

}

/* Анимация кота внутри субмарины */
@keyframes cat_move {

    0% {
        transform: translateX(-45px);
    }

    50% {
        transform: translateX(-0px);

    }

    100% {
        transform: translateX(45px);

    }

}

/* Анимация движения ракет */
@keyframes rocket_move {
    0% {
        transform: translateX(0px) rotate3d(0, 1, 0, -0deg) scale(1);
        z-index: 10;
    }

    40% {

        transform: translateX(600px) rotate3d(0, 1, 0, -45deg) scale(0.9);
        z-index: 10;

    }

    50% {

        transform: translateX(600px) rotate3d(0, 1, 0, -180deg) scale(0.8);
        z-index: 9;
    }

    90% {

        transform: translateX(50px) rotate3d(0, 1, 0, -225deg) scale(0.9);
        z-index: 9;


    }

    100% {

        transform: translateX(0px) rotate3d(0, 1, 0, -360deg) scale(1);
        z-index: 9;

    }

}

/* Анимация полета ракет */
@keyframes rocket_change {
    0% {
        transform: translateY(0) scale(1) rotate(0deg);
    }

    40% {
        transform: translateY(10px) rotate(5deg) scale(1.1);
    }

    80% {
        transform: translateY(-10px) rotate(-5deg) scale(1);

    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

/* Анимации пузырей */
@keyframes buble_first {
    0% {
        transform: translateX(-0px) translateY(0px) scale(1);
        opacity: 0;

    }

    10% {
        transform: translateX(-40px) translateY(0px) scale(1);
        opacity: 1;
    }

    25% {
        transform: translateX(-100px) translateY(-50px) scale(1);
        opacity: 1;
    }

    35% {
        transform: translateX(-125px) translateY(-70px) scale(2);
        opacity: 0.6;
    }

    45% {
        transform: translateX(-150px) translateY(-90px) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-500px) translateY(-150px) scale(0);
        opacity: 0;
    }
}

@keyframes buble_second {
    0% {
        transform: translateX(-0px) translateY(0px) scale(1);
        opacity: 0;
    }

    10% {
        transform: translateX(-70px) translateY(0px) scale(1);
        opacity: 1;
    }

    25% {
        transform: translateX(-150px) translateY(-30px) scale(1);
        opacity: 1;
    }

    35% {
        transform: translateX(-175px) translateY(-50px) scale(2);
        opacity: 0.6;
    }

    45% {
        transform: translateX(-200px) translateY(-70px) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-500px) translateY(-150px) scale(0);
        opacity: 0;
    }
}

@keyframes buble_third {
    0% {
        transform: translateX(-0px) translateY(0px) scale(1);
        opacity: 0;
    }

    10% {
        transform: translateX(-40px) translateY(0px) scale(1);
        opacity: 1;
    }

    25% {
        transform: translateX(-110px) translateY(-30px) scale(1);
        opacity: 1;
    }

    35% {
        transform: translateX(-125px) translateY(-50px) scale(2);
        opacity: 0.6;
    }

    45% {
        transform: translateX(-130px) translateY(-70px) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-400px) translateY(-150px) scale(0);
        opacity: 0;
    }
}

@keyframes buble_fourth {
    0% {
        transform: translateX(-0px) translateY(0px) scale(1);
        opacity: 0;
    }

    10% {
        transform: translateX(-40px) translateY(0px) scale(1);
        opacity: 1;
    }

    25% {
        transform: translateX(-110px) translateY(-30px) scale(1);
        opacity: 1;
    }

    35% {
        transform: translateX(-125px) translateY(-50px) scale(2);
        opacity: 0.6;
    }

    45% {
        transform: translateX(-130px) translateY(-70px) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-400px) translateY(-150px) scale(0);
        opacity: 0;
    }
}

/* Анимация начала преследования подлодки ракетами */
@keyframes rocket_init {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0px);
    }
}

/* Анимация ракет в активную фазу */
@keyframes active_rocket {
    from {
        transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translateX(100px) translateY(-80px) rotate(-45deg);
        opacity: 0;
    }
}

/* Анимация субмарины в активную фазу */
@keyframes active_submarine {
    from {
        transform: translateX(0) translateY(0) rotate(0deg);
        z-index: 9;
    }

    100% {
        transform: translateX(230px) translateY(-180px) rotate(0deg);
        z-index: 9;
    }
}

/* Анимация движения субмарины на волне */
@keyframes submarine_wave {
    from {
        transform: translateX(230px) translateY(-190px);
    }

    to {
        transform: translateX(230px) translateY(-165px);
    }
}

/* Анимация разделения айсберга на 2 части */
@keyframes destroy_left_iceberg {
    from {
        transform: translateX(0px) rotate(0deg) translateY(0px);
    }

    to {
        transform: translateX(-25px) rotate(-10deg) translateY(-20px);
    }
}

@keyframes destroy_right_iceberg {
    from {
        transform: translateX(0px) rotate(0deg);
    }

    to {
        transform: translateX(25px) rotate(10deg);
    }
}

/* Анимация взрыва */
@keyframes explosion_anim {
    from {
        opacity: 1;
        transform: translate(-50%) scale(0);
    }

    20% {
        transform: translate(-50%) scale(2);
        opacity: 1;
    }

    80% {
        transform: translate(-50%) scale(1);
        opacity: 1
    }

    90% {
        transform: translate(-50%) scale(0);
        opacity: 0;
    }
}

/* Анимация кота при взрыве */
@keyframes cat_splash {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(400px) rotate(35deg) translateY(-45px);
    }
}

/* Анимация на волне */
@keyframes cat_wave {
    from {
        transform: translateX(400px) rotate(35deg) translateY(-45px);
    }

    to {
        transform: translateX(400px) rotate(35deg) translateY(0px);
    }
}

/* Анимация поп-апа */
@keyframes pop-up {
    from {
        transform: translate(-50%) scale(0);
    }

    80% {
        transform: translate(-50%) scale(1.1);

    }

    to {
        transform: translate(-50%) scale(1);
    }
}