@import './animation.css';

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(36, 34, 34);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Блок анимации */
section.wrapper {
    margin: auto;
    background-color: rgb(0, 0, 0);
    max-width: 1180px;
    width: 100%;
    max-height: 768px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* Звезды */
div.star {
    background: url('../img/sky.png');
    background-size: 100% 100%;
    width: 100%;
    height: 60%;
    position: absolute;
}

/* Блок мерцания */
.twinkling {
    position: absolute;
    background: transparent url('../img/twink.png');
    background-size: 100% 100%;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    animation: twinkl 8s alternate infinite linear;
    background-size: 100% 100%;
    z-index: 1;
}

/* Блок северного сияния */
.light {
    background-image: url('../img/north.png');
    position: absolute;
    z-index: 2;
    top: 0px;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    animation: north_light 4s alternate infinite ease-in-out;
}

/* Обертка волны */
.wave-wrapper {
    width: 6000px;
    height: 100%;
    position: absolute;
}

/*  Блок волны*/
.wave {
    width: 200%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

/* Основная волна */
.first {
    z-index: 11;
    opacity: 0.7;
    width: 100%;
    background-size: 1180px 60%;
    left: 0;
    background-image: url('../img/wave.png');
    animation: first_wave 2s infinite linear;
}

/* Вторая волна */
.second {
    z-index: 9;
    opacity: 0.95;
    background-size: 1180px 95%;
    left: 0;
    background-image: url('../img/wave.png');
    animation: second_wave 5s infinite linear;
}

/* Обертка субмарины */
.submarine-wrapper {
    position: relative;
    left: 10%;
    width: 100%;
    height: 350px;
    width: 300px;
    height: 350px;
    top: 55%;
    animation: submarine_move 8s infinite linear;
}

/* Блок субмарины */
.submarine {
    display: block;
    position: absolute;
    z-index: 10;
    top: 20%;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url('../img/submarine.png');
}

/* Блок кота  */
.cat {
    position: absolute;
    display: block;
    z-index: 9;
    top: 64%;
    left: 43%;
    width: 60px;
    height: 70px;
    animation: cat_move 3s alternate infinite linear;
}

/*  Обертка пузырей */
.buble-wrapper {
    width: 30px;
    height: 40px;
    z-index: 9;
    position: relative;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}

/* Блок пузырей */
.buble {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 20px;
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url('../img/buble.png');
}

/* Анимации пузырей */
.buble:nth-child(1) {
    animation: buble_first 2s infinite linear;
}

.buble:nth-child(2) {
    animation: buble_second 2s infinite linear;
    animation-delay: 0.2s;
}

.buble:nth-child(3) {
    animation: buble_third 2s infinite linear;
}

.buble:nth-child(4) {
    animation: buble_fourth 2s infinite linear;
    animation-delay: 0.3s;
}

/* Обертка ракет */
.rocket-wrapper {
    position: relative;
    left: 200px;
    top: 8%;
    width: 200px;
    height: 340px;
    z-index: 10;
    animation: rocket_init 3s linear, rocket_move 8s infinite linear;
    animation-delay: 0s, 3s;
}

/* Блок ракет */
.rocket {
    position: absolute;
    left: 0px;
    width: 115px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url('../img/rocket.png');
    z-index: 10;
    animation: rocket_change 4s alternate infinite linear;
}

/* Анимация для ракет */
.rocket:nth-child(1) {
    top: 60%;
    animation-delay: 1s;
}

.rocket:nth-child(2) {
    top: 80%;
    animation-delay: 2s;
}

/* Анимация субмарины в активную фазу */
div.submarine-wrapper.active {
    transform: translateX(200px) translateY(-180px) rotate(0deg);
    animation: active_submarine 3s linear forwards, submarine_wave 1s alternate infinite linear;
    animation-delay: 0s, 3s;
    z-index: 9;
}

/* Анимаци ракет в активную фазу */
div.rocket-wrapper.active {
    transform: translateX(250px) translateY(-150px) rotate(-45eg);
    animation: active_rocket 1s linear forwards;
}

/* Обертка частей айсберга */
div.iceberg-wrapper {
    width: 400px;
    height: 400px;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

/* Блок айсберга */
div.iceberg-destroy {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    animation: move_iceberg 1s infinite alternate linear;
}

/* Блоки частей айсберга */
div.iceberg-wrapper div:nth-child(1) {
    position: absolute;
    top: 53%;
    width: 120px;
    height: 210px;
    left: 27%;
    background-size: 100% 100%;
    background-image: url('../img/leftIceberg.png');
}

div.iceberg-wrapper div:nth-child(2) {
    position: absolute;
    width: 120px;
    height: 210px;
    top: 54%;
    left: 47%;
    background-size: 100% 100%;
    background-image: url('../img/rightIceberg.png');
}

/* Анимации блоков айсберга в активную фазу */
div.iceberg-destroy.active div.iceberg-wrapper div:nth-child(1) {
    animation: destroy_left_iceberg 2s linear forwards;
    animation-delay: 4s;
}

div.iceberg-destroy.active div.iceberg-wrapper div:nth-child(2) {
    animation: destroy_right_iceberg 2s linear forwards;
    animation-delay: 3s;
}

/* Анимация взрыва в активную фазу */
div.rocket-wrapper.active+div.explosion {
    opacity: 0;
    position: absolute;
    left: 42%;
    top: 40%;
    transform: translate(-50%);
    z-index: 100;
    width: 400px;
    height: 400px;
    background-size: 100% 100%;
    background-image: url('../img/boom.png');
    animation: explosion_anim 1s linear;
    animation-delay: 1s;
}

/* Отключение пузырьков */
div.submarine-wrapper.active div.submarine .buble {
    display: none;
}

/* Отключение мертвого кота */
div.submarine-wrapper .cat:nth-child(2) {
    opacity: 0;
}

/* Анимация кота в активную фазу */
div.submarine-wrapper.active img {
    animation: cat_splash 3s linear forwards, cat_wave 1s alternate infinite linear;
    animation-delay: 3.5s, 6.5s;
}

/* Замена живого кота мертвым в активную фазу */
div.submarine-wrapper.active .cat:nth-child(1) {
    opacity: 0;
    transition: opacity 3s;
}

div.submarine-wrapper.active .cat:nth-child(2) {
    opacity: 1;
    transition: opacity 3s;
}

/* Блок поп-апа */
.pop-up {
    position: absolute;
    opacity: 1;
    z-index: 100;
    left: 50%;
    top: 20%;
    width: 300px;
    height: 140px;
    transform: translate(-50%) scale(0);
    background-color: #fff;
    box-shadow: 0 3px 28px rgba(240, 240, 240, 0.25), 0 0px 10px rgba(240, 240, 240, 0.22);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Roboto;
    overflow: hidden;
}

.pop-up p {
    font-size: 18px;
    margin-top: 25px;
    text-align: center;
}

/* Анимация поп-апа */
div.rocket-wrapper.active~.pop-up {
    animation: pop-up 0.5s linear forwards;
    animation-delay: 6s;
}